<div class="wrapper">
    <!-- Page Content -->
    <div id="content" class="active-content">
        <div class="container">
            <div class="d-flex justify-content-between mb-5">
                <h2>Trade Room</h2>

               
            </div>

            <div class="row justify-content-center mt-3 ">
                <h2>Live Trading View</h2>
                <div class="tradingview-widget-container" style="height:30rem;width:100%">
                    <div class="tradingview-widget-container__widget" style="height:100%;width:100%"></div>
                    <div class="tradingview-widget-copyright">
                        <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
                            <span class="blue-text">Track all markets on TradingView</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- trading-view-widget.component.html -->

           
            <div class="row mt-5">
                <h2>Live Trading Analysis</h2>
                <div class="col-md-12">
                    <iframe src="https://fxpricing.com/fx-widget/technical-indicator-widget.php?id=1984&pair_weight=normal&click_target=blank&theme=light&tm-cr=FFFFFF&hr-cr=00000013&by-cr=28A745&sl-cr=DC3545&flags=circle&value_alignment=center&tab=5M,15M,30M,1H,4H,1D&lang=en&font=Arial, sans-serif" width="100%" height="567" style="border: unset;"></iframe><div id="fx-pricing-widget-copyright"><span>Powered by </span><a href="https://fxpricing.com/" target="_blank">FX Pricing</a></div><style type="text/css">#fx-pricing-widget-copyright{text-align: center; font-size: 13px; font-family: sans-serif; margin-top: 10px; margin-bottom: 10px; color: #9db2bd;} #fx-pricing-widget-copyright a{text-decoration: unset; color: #bb3534; font-weight: 600;}</style>
                </div>
            </div>

         
        </div>
    </div>
</div>