<footer class="footer-section">
    <div class="container">
        <h2 class="footer-title">
            <span class="gradient-text">Your Guide to</span><br>
            <span class="gradient-text">common queries</span><br>
            <span class="gradient-text">and solution</span>
        </h2>

        <div class="quick-links">
            <a href="#" class="quick-link-item">Contact Us</a>
            <a href="#" class="quick-link-item">Benefits?</a>
            <a href="#" class="quick-link-item">Traceability?</a>
            <a href="#" class="quick-link-item">Interoperability?</a>
        </div>
        <div class="footer-links">
            <div class="footer-container">
                <div class="footer-column logo-column">
                  <img src="assets/images/logo/bnbx_logo.png" alt="BNBX Logo" class="logo">
                </div>
            
                <div class="footer-column">
                  <h3>Contact us</h3>
                  <a href="mailto:support@bnbx.pro" class="footer-email">
                    <i class="fas fa-envelope"></i> support&#64;bnbx.pro
                  </a>
                </div>
            
                <div class="footer-column">
                  <h3>Follow us</h3>
                  <a href="https://t.me/bnbxpro" target="_blank">
                    <i class="fab fa-telegram-plane"></i> Telegram
                  </a>
                  <a href="https://x.com/bnbxpro" target="_blank">
                    <i class="fab fa-x-twitter"></i> Twitter (X)
                  </a>
                </div>
            
                <div class="footer-column">
                  <h3>Useful links</h3>
                  <a href="#">Features</a>
                  <a href="#">Services</a>
                  <a href="#">Community</a>
                </div>
              </div>
            
              <p class="footer-copy">© 2025 BNBX. All Rights Reserved.</p>
            
        </div>
    </div>
</footer>