<footer class="footer-section">
    <div class="container">
        <h2 class="footer-title">
            <span class="gradient-text">Your Guide to</span><br>
            <span class="gradient-text">common queries</span><br>
            <span class="gradient-text">and solution</span>
        </h2>

        <div class="quick-links">
            <a href="#" class="quick-link-item">Contact Us</a>
            <a href="#" class="quick-link-item">Benefits?</a>
            <a href="#" class="quick-link-item">Traceability?</a>
            <a href="#" class="quick-link-item">Interoperability?</a>
        </div>
        <div class="footer-links">
            <div class="footer-bottom">
                
                <div class="footer-columns">
                    <div class="link-group">
                        <img src="assets/images/logo/bnbx_logo.png" alt="BNBX Logo" class="logo">
                    </div>
                    
                    <div class="link-group">
                        <h3>Contact us</h3>
                        <p>BNBX at gmail.com</p>
                    </div>

                    <div class="link-group">
                        <h3>Follow us</h3>
                        <ul>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Discord</a></li>
                        </ul>
                    </div>

                    <div class="link-group">
                        <h3>Useful links</h3>
                        <ul>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Community</a></li>
                        </ul>
                    </div>
                </div>

                <p class="copyright">Copyright at 2025 All Design Reserved</p>
            </div>
        </div></div>
</footer>