<div class="container-fluid "> 
    <app-header-nav></app-header-nav>
    <!-- Login form section -->
    <div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
        <div class="row w-100 justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="card p-4 shadow-sm" [ngClass]="{'dark-mode-card': isDarkMode}">
                            <div class="yellow-border-top-left" *ngIf="isDarkMode"></div>
                            <div class="yellow-border-bottom-right" *ngIf="isDarkMode"></div>

                    <h2 class="text-center mb-4 text-white" *ngIf="!isForgotPassword && currentStep === 1">Login</h2>
                    <h2 class="text-center mb-4 text-white" *ngIf="isForgotPassword || currentStep !== 1">Forgot Password?</h2>

                    <!-- Login Form -->
                    <form *ngIf=" currentStep === 1" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column w-100">
                        <!-- Mobile Input with Icon -->
                        <div class="form-group mb-4">
                            <label for="mobile" class="form-label mb-2 text-white">User Id</label>
                            <div class="input-group">
                                <span class="input-group-text bg-dark text-white border-secondary">
                                    <i class="fa-solid fa-id-card"></i>
                                </span>
                                <input type="text" 
                                       class="form-control bg-dark text-white border-secondary" 
                                       id="mobile" 
                                       formControlName="loginId"
                                       placeholder="Enter your login Id">
                            </div>
                        </div>
                        
                        <!-- Password Input with Icon and Toggle -->
                        <div class="form-group mb-4">
                            <label for="password" class="form-label mb-2 text-white">Password</label>
                            <div class="input-group">
                                <span class="input-group-text bg-dark text-white border-secondary">
                                    <i class="fa-solid fa-lock"></i>
                                </span>
                                <input [type]="isPasswordVisible ? 'text' : 'password'" 
                                       class="form-control bg-dark text-white border-secondary"
                                       id="password" 
                                       formControlName="password" 
                                       placeholder="Enter your password">
                                <span class="input-group-text bg-dark text-white border-secondary" 
                                      (click)="togglePasswordVisibility()">
                                    <i class="fa" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                                </span>
                            </div>
                        </div>
                        
                        <!-- Login Button -->
                        <div class="form-group mb-4">
                            <button class="btn btn-primary w-100" type="submit">Login</button>
                        </div>
                        
                        <!-- Forgot Password Link -->
                        <div class="form-group mb-3 text-center">
                            <a href="javascript:void(0)" (click)="showForgotPassword()" class="text-decoration-none">Forgot Password?</a>
                        </div>
                        
                        <!-- Sign-up Link -->
                        <div class="form-group text-center text-white">
                            Don't have an account? <a routerLink="/signup" class="text-decoration-none">Sign Up</a>
                        </div>
                    </form>

                    <!-- Forgot Password Form -->

                    <!-- Step 1: Email and Send OTP -->
                    <div *ngIf="currentStep === 2">
                        <button class="position-absolute top-0 start-0 mt-2 ms-2" (click)="backToLogin()">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>
                        <form [formGroup]="changePasswordForm" (ngSubmit)="sendOtp()">
                            <div class="form-group mb-3">
                                <!-- <label for="email">Email</label> -->
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                    <input required type="email" class="form-control" id="email" formControlName="email"
                                        placeholder="Enter your email" required />
                                    <button class="btn btn-secondary" type="submit">
                                        Send OTP
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Step 2: OTP Verification -->
                    <div *ngIf="currentStep === 3">
                        <form [formGroup]="changePasswordFormOTP" (ngSubmit)="verifyOtp()">
                            <div class="form-group mb-3">
                                <label for="otp">OTP</label>
                                <input type="text" class="form-control" id="otp" formControlName="otp"
                                    placeholder="Enter the OTP" required />
                                <button class="btn btn-primary w-100 mt-2" type="submit">
                                    Verify OTP
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- Step 3: Reset Password -->
                    <div *ngIf="currentStep === 4">
                        <form [formGroup]="changePassword" (ngSubmit)="resetPassword()">
                            <div class="form-group mb-3">
                                <label for="newPassword">New Password</label>
                                <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control"
                                    id="newPassword" formControlName="newPassword" placeholder="Enter new password"
                                    required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="cnfPassword">Confirm Password</label>
                                <div class="input-group">
                                    <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control"
                                        id="cnfPassword" formControlName="cnfPassword"
                                        placeholder="Confirm new password" required />
                                    <span class="input-group-text" (click)="togglePasswordVisibility()">
                                        <i class="fa" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group mb-3 text-center">
                                <button class="btn btn-primary w-100" type="submit">
                                    Change Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 