<section class="what-we-do-section">
    <div class="container">
        <h2 class="section-title"><span>What We Do</span></h2>        
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="trading-illustration1">
                        <div class="platform-base1">
                            <!-- <div class="platform-text">AI-Powered Crypto Trading</div> -->
                            <div class="coins1 d-flex justify-content-center">
                                <img src="assets/images/Group_98.png" width='520' height='400' alt="BNB Coin" class="coin coin-1 d-none d-md-block mx-auto">
                                <img src="assets/images/Group_98_m.png" alt="BNB Coin" class="coin coin-1 d-md-none mx-auto">
                            </div>
                            <!-- <div class="platform-glow"></div> -->
                        </div>
                        <!-- <button class="press-btn">Press</button> -->
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="description-content">
                        <div class="icon-marker">
                            <img src="assets/images/Group1.png" alt="Star Icon">
                        </div>
                        <p class="description">
                            Our intelligent AI system analyzes global crypto markets in real-time, enabling us to make data-driven, profitable trading decisions. By focusing on BNB Chain and other cryptocurrencies, our AI trading bot generates consistent returns, which are then shared with our community members as dividends. This cutting-edge technology removes human error and optimizes trading strategies to generate passive income.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>