<div class="wrapper">
    <div id="content" class="active-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="card shadow-sm mt-5">
                       
                        <div class="card-body">
                           <h2>Cooming soon ...</h2>
                        </div>
                    </div>

                    
                </div>

               
            </div>

           
        </div>
    </div>
</div>
