<nav class="navbar navbar-expand-lg" [ngClass]="{' text-light': isDarkMode, 'text-dark': !isDarkMode}">
    <div class="container-fluid">
        <!-- Logo Section -->
        <a class="navbar-brand d-flex align-items-center ml-10" href="#">
            <img routerLink="/" src="assets/logo/bnbx_logo.png" alt="Logo" width="140" height="90" class="me-2">
        </a>

        <div class="user-section ms-auto">
            <div class="dropdown">
                
            </div>
        </div>
    </div>
</nav>
