<nav class="navbar navbar-expand-lg" [ngClass]="{' text-light': isDarkMode, 'text-dark': !isDarkMode}" style="color: var(--header-color-light); position: fixed; width: 100%; z-index: 1; border-bottom: 2px solid #F0B90B;">
    <div class="container-fluid">
        <!-- Hamburger Menu Button -->
        <!-- <button class="btn sidebar-toggle d-flex align-items-center justify-content-center" type="button" (click)="onToggleSidebar()">
            <i class="fas fa-bars" style="color: #2B3139; font-size: 1.5rem;"></i>
        </button> -->

        <!-- Logo Section -->
        <a class="dashboard-brand d-flex align-items-center" href="#">
            <img routerLink="/" src="assets/images/logo/bnbx_logo.png" alt="Logo" width="200" height="75" class="me-2"  data-bs-toggle="dropdown" aria-expanded="false">
        </a>

        <!-- User Profile Section -->
        <div class="user-section">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center justify-content-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user" style="color: #F0B90B; font-size: 2.5rem; padding: 0.25rem;"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/dashboard/profile">
                            <i class="fa-solid fa-user me-2"></i>
                            Profile
                        </a>
                    </li>
                   
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" (click)="logout()">
                            <i class="fa-solid fa-right-from-bracket me-2"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<style>

</style>
