<div class="dashboard-container">
    <div class="header-wrapper">
        <button title="toggle" class="sidebar-toggle-btn" (click)="toggleSidebar()">
            <i class="fas" [ngClass]="isSidebarCollapsed ? 'fa-bars' : 'fa-times'"></i>
        </button>
        <app-header class="header"></app-header>
    </div>
    
    <div class="main-content">
        <!-- <div class="sidebar-overlay" (click)="toggleSidebar()"></div> -->
        <div class="sidebar-wrapper" [class.active]="!isSidebarCollapsed">
            <app-side-bar 
                [isSidebarCollapsed]="isSidebarCollapsed"
                (sidebarStateChange)="isSidebarCollapsed = $event">
            </app-side-bar>
        </div>

        <div class="content-wrapper" [class.shifted]="!isSidebarCollapsed">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>