<section class="why-choose-section">
    <div class="container">
        <h2 class="section-title"><span>Why Choose Us</span></h2>
        
        <div class="features-list">
            <div class="feature-row left-title">
                <div class="feature-title">Proven AI Technology</div>
                <div class="feature-text">We utilize sophisticated algorithms and real-time data analysis to maximize profitability, ensuring that every investment has the potential to grow.</div>
            </div>

            <div class="feature-row right-title">
                <div class="feature-text">With BNB Chain, you're guaranteed a secure, transparent, and decentralized experience, ensuring your investments and transactions are always protected.</div>
                <div class="feature-title">Decentralized & Secure</div>
            </div>

            <div class="feature-row left-title">
                <div class="feature-title">Global Community</div>
                <div class="feature-text">Whether you're an active trader or prefer a hands-off approach, our AI trading system works 24/7 to generate revenue for you.</div>
            </div>

            <div class="feature-row right-title">
                <div class="feature-text">Our program is designed to suit individuals at all levels, whether you're new to crypto or an experienced marketer. You can build your business at your own pace</div>
                <div class="feature-title">Unmatched Flexibility</div>
            </div>

            <div class="feature-row left-title">
                <div class="feature-title">Safety and Security</div>
                <div class="feature-text">Ensuring the safety and security of our users is our top priority at Crypto AI Trading. Our platform employs state-of-the-art encryption protocols and multi-factor authentication to protect personal and financial data.</div>
            </div>
        </div>
    </div>
</section>