<!-- wallet.component.html -->

<div class="wrapper">
    <div id="content" class="active-content">
        <div class="container">
        

            <div class="row justify-content-center">
                <!-- Convert Wallet -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Convert Wallet</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <h3 for="amount">Avaliable Rewards: {{avilableBalance}} </h3>
                        </div>
                        <button type="button" class="btn btn-success btn-block" (click)="convertWallet()">
                            Convert
                        </button>
                    </div>
                </div>
            </div>


          
        </div>
    </div>
</div>
