<app-header (toggleSidebar)="toggleSidebar()"></app-header>

<div class="sidebar-overlay" [class.active]="!isSidebarCollapsed" (click)="closeSidebar()"></div>

<div class="wrapper">
  <!-- Mobile Toggle Button -->
  <button class="mobile-toggle d-lg-none" (click)="toggleSidebar()">
    <i class="fas" [ngClass]="isSidebarCollapsed ? 'fa-bars' : 'fa-times'"></i>
  </button>

  <nav id="sidebar" [class.active]="!isSidebarCollapsed" [class.mobile-view]="!isSidebarCollapsed">
    <ul class="list-unstyled components cursor-pointer">
      <!-- Dashboard -->
      <li>
        <a routerLink="/dashboard"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="closeSidebar()">
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
      </li>

      <!-- User management -->
      <li>
        <span class="w-100 text-start" data-bs-toggle="collapse" data-bs-target="#walletSubmenu">
          <i class="fas fa-users"></i> User management <i class="fas fa-chevron-down float-end"></i>
        </span>
        <div class="collapse" id="walletSubmenu" data-bs-parent="#sidebar">
          <ul class="list-unstyled ps-4">
            <li><a routerLink="/user-list"
              routerLinkActive="router-link-active"
              [routerLinkActiveOptions]="{exact: true}"
              routerLinkActive="active-link" (click)="closeSidebar()">
              <i class="fas fa-user"></i> User List</a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Transaction -->
      <li>
        <a routerLink="/transaction"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}" (click)="closeSidebar()">
          <i class="fas fa-exchange-alt"></i> Transaction
        </a>
      </li>

      <!-- Plans -->
      <li>
        <a routerLink="/plans"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}" (click)="closeSidebar()">
          <i class="fas fa-layer-group"></i> Plans
        </a>
      </li>

      <!-- Logout -->
      <li>
        <a (click)="logout(); closeSidebar()">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </li>
    </ul>
  </nav>
  <div class="main-content" [class.active]="!isSidebarCollapsed">
    <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
